<p>
  <b> <%= comment.commenter %></p> </b>
<p>
  <%= comment.body %>
  <%= link_to 'Delete',[comment.painting, comment],
              :confirm => 'Are you sure?',
              :method => :delete %>
</p>

<br>